@import '../../../styles/variables'
@import '../../../styles/mixins'

.appBar
    width: 100%
    padding: 10px 0
    background: $blueBg
    z-index: 1
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)

.appContainer
    min-height: 36px
    display: flex
    align-items: center
    flex-direction: row
    position: relative

.title
    width: 100%
    margin: 0
    text-align: center
    font-size: $titleFont
    font-weight: 500
    color: $white
    @media (min-width: 768px)
        font-size: $middleFont

    .subtitle
      font-size: $middleFont
      color: white
      display: block
      margin-top: -3

.logoutBtn
    position: absolute
    right: 0
    button
        color: $white
        border-color: $white
        &:hover
            border-color: $white
            background: rgba(255,255,255, 0.1)

.backBtn
    position: absolute
    left: 0
    button
        color: $white
        &:hover
            background: rgba(255,255,255, 0.1)
